In [1]:
import numpy as np

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 9.0 MB/s eta 0:00:00m eta 0:00:01:01:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/amanmibra/anaconda3/envs/audio/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 13.7 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 18.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /Users/amanmibra/anaconda3/envs/audio/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/amanmibra/anaconda3/envs/audio/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.1 pytz-2023.3 tzdata-2023.3

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv('./data-13.0/en/validated.tsv', sep='\t')

In [14]:
df.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,00629ef5283de6396fb220d873d360b001eee93946c704...,common_voice_en_36938066.mp3,One day at noon a woman fell asleep among the ...,2,0,NaN,NaN,NaN,NaN,en,NaN
1,0365b018a15ab96510f1368f4910554f97f6c278320e78...,common_voice_en_36827090.mp3,Then they scrambled round the rocks to the oth...,2,0,NaN,NaN,Filipino,NaN,en,NaN
2,040c5f7d97439fed61c9d3fcee6f7addc2ebf2ad6a37b0...,common_voice_en_36998293.mp3,Dollar shops sell the rest.,2,0,NaN,NaN,NaN,NaN,en,NaN
3,045edc6abc782d44bafdaf8fe589fb6c80a61c79600bbb...,common_voice_en_37238108.mp3,My very best concert bonnet.,2,0,NaN,NaN,NaN,NaN,en,NaN
4,057b228da4bf607b2ae29c1356bb6488388dce661f6c4d...,common_voice_en_36965345.mp3,"This time, however, as the padded envelopes we...",2,0,NaN,NaN,NaN,NaN,en,NaN

In [16]:
texts = df['sentence']

In [17]:
texts

0       One day at noon a woman fell asleep among the ...
1       Then they scrambled round the rocks to the oth...
2                             Dollar shops sell the rest.
3                            My very best concert bonnet.
4       This time, however, as the padded envelopes we...
                              ...
6978    The lyrics were inspired by the experiences th...
6979    Some negative behaviours by corporations may n...
6980             Coe was born in Tamworth, Staffordshire.
6981    Yamada went to the University of Missouri and ...
6982    Danube University Krems has specialized in pos...
Name: sentence, Length: 6983, dtype: object

In [30]:
dups = df[texts.duplicated() == True]['sentence'].unique()

In [31]:
for s in dups:
    rows = df[texts == s]
    print(f"{s} -- {rows.shape[0]}")

Buffalo provides municipal water and sewer and contracts for refuse service. -- 2
Adapted from the "Potential" liner notes. -- 2
The Generals then fell to the Fort Wayne Komets in a competitive five-game series. -- 2
Vietnamese security forces later arrested him on the ground. -- 2
Benzali also appeared on Broadway in "Fiddler on the Roof" and other smaller productions. -- 2
The trace formula also has purely differential-geometric applications. -- 2
Bushwalkers sometimes informally refer to it as "Fake Pedder". -- 2
A clone of "Son of Blagger" was released for Amiga, titled "Jonas Fulstrand". -- 2
He would remain in Florence for twelve years. -- 2
Forester, and Patrick O'Brian. -- 2
Despite the name, the program was created for non-Indian children. -- 2
The complex includes nature trails and tourist accommodation. -- 2
The old and new stations are connected by a road. -- 2
Due to an urban legend, Espeland Falls is sometimes erroneously claimed to be tall. -- 2
It was suggested that it may be restricted to the region around Ethiopia. -- 2
Amesbury also shot a documentary film of the tour. -- 2
The Broadway-bound musical closed on the road. -- 2
The move broke down due to assurances over first team football. -- 2
Coverage of content and transmissions is limited to Flanders. -- 2
The team medals, however, were not affected by this incident. -- 2
Sayer has an aldermanic form of city government. -- 2
For this purpose, the bookmaker will normally adjust the odds or the "line". -- 2
He was also active on the Board of Visitors of Virginia Military Institute. -- 2
Pots full of butter, milk, and flesh are placed among the branches. -- 2
Both of Newman's children are pursuing acting careers. -- 2
Members of the House of Representatives served four-year terms, while senators served six-year terms. -- 2
One man says, What's that package up there in the baggage rack? -- 2
What they meant by this marriage ceremony is not easy to imagine. -- 2
She also covered the riots in Haiti. -- 2
It forms part of the Wolverhampton South West constituency. -- 2

In [33]:
df[texts == s]

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
1106,c7a716d0842666580c8095572852886e9f6c4d98fef07e...,common_voice_en_37062751.mp3,It forms part of the Wolverhampton South West ...,2,0,thirties,male,United States English,NaN,en,NaN
6941,8796693fb19970eda73c742a411fd9fdea613f4d64d9a3...,common_voice_en_37022747.mp3,It forms part of the Wolverhampton South West ...,2,0,fifties,female,United States English,NaN,en,NaN